@*@model ubereats.Models.Restaurant*@

@{
    //ViewData["Title"] = "Uber Eats";
    ViewData["Title"] = @ViewBag.Title;
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="container1">
    <form asp-action="SearchRestaurant" asp-controller="Home">
        <input type="text" placeholder="Поиск по ресторанам и кухням" name="restName" class="search" value=@ViewBag.Search />
    </form>
</div>
@*<div class="container1">
	<div class="body_head">
		Рестораны в Москве
	</div>
</div>*@
<div class="container1">
    <div class="container">
        <div class="restList">
            <div class="row">
                <div class="body_head">
                    Рестораны в Москве
                </div>
            </div>
            <div class="row">
                @foreach (var rest in Model)
                {
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="@Url.Action("GetImage", "Home", new {id = (int)@rest.ID})" alt=@rest.RestName>
                            <div class="restName">@rest.RestName - @rest.District</div>
                            <div class="restInfo">@rest.KitchenType</div>
                            <div class="restTime">@rest.CookingTimeStart - @rest.CookingTimeEnd мин</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>