@model ubereats.Models.Restaurant
@{
    //ViewData["Title"] = "Uber Eats";
    ViewData["Title"] = @Model.RestName;
}

<div class="container1">
    <div class="container">
            <div class="card">
                 <img src="@Url.Action("GetImage", "Restaurant", new {id = (int)@Model.ID})" alt=@Model.RestName>
                <div class="restName">@Model.RestName - @Model.District</div>
                <div class="restInfo">@Model.KitchenType</div>
                <div class="restTime">@Model.CookingTimeStart - @Model.CookingTimeEnd мин</div>
            </div>
    </div>
</div>